/*Body Dimensions*/
body{
  width: 960px;
  margin: auto;
}

/* Header */
h1 {
  font-family: 'Yellowtail';
  font-size: 35px;
}

header{
  height: 50px;
  width: 960px;
  position: relative;
  margin: 30px auto;

}
 header div > img{
   width: 50px;
   height: 50px;
   float: left;
   padding-right: 15px;
 }

header section{
  width: 200px;
  height: 50px;
  float: left;
  font-family: 'Roboto Condensed';
  font-size: 12px;
};

nav{
  height: 50px;
}

nav ul li{
  width: 25px
  height: 25px;
  float: right;
  margin: 12px 1px 0px 0px;

}

.pinterest{
  margin-right: 15px;
}

/* Top Bar */
.grey-bar{
  width: 960px;
  height: 15px;
  background: grey;
  margin: 25px auto;
}

/* Main */
main h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -40px;
}

.sub-banner-main{
  height: 12px;
  margin: 10px 0px 25px 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: grey;

}

.sub-banner-main p span a{
  color: grey;
  text-decoration: none;
}

.left{
  float: left;
}

.right{
  float: right;
}

.main-image img{
  width: 100%;
}

/* Instructions */
.paragraph{
  text-indent: 25px;
  margin: 25px 0px;
  font-family: Patrick Hand, sans-serif;
  color: grey;
}

/* Checklist */
.recipe{
  position: relative;
  width: 960px;
  height: 305px;
  background: url(images/list-bg.png);
}

ul{
  font-size: 23px;
  list-style: none;
  }

li{
  font-family: 'Patrick Hand', cursive;
  }

.right{
  margin-top: 37px;
  margin-right: 1%;
  float: right;
}

.left{
  margin-top: 37px;
  margin-left: 1%;
  float: left;
}

.thin-bar-left{
  width: 450px;
  height: 2px;
  inline: block
  float: left;
}

.thin-bar-right{
  width: 450px;
  height: 2px;
  float: right;
}

.credits {
  width: 960px;
  height: 180px;
}

.credits .bio {
  position: relative;
  width: 682px;
  height: 93px;
  float: left;
}

.credits img {
  width: 73px;
  height: 70px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.credits h3 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 22px;
  color: #867970;;
}

.credits span {
  display: inline-block;
  margin-top: 5px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: '300';
  font-size: 20px;
  color: #867970;
}

.button {
  width: 185px;
  height: 70px;
  position: relative;
  float: right;
}

.button button {
  width: 185px;
  height: 54px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: white;
  background: #C06F5E;
}
/*Footer*/
footer {
  width: 960px;
  height: 120px;
}

footer img {
  margin-top: 5px;
  margin-left: 450px;
  float: left;
}

.thin-bar-left{
  width: 450px;
  height: 2px;
  float: left;
  display: inline-block;
  color: grey;
}

.thin-bar-right{
  width: 450px;
  height: 2px;
  float: right;
  display: inline-block;
  color: grey;
}

.copyright{
    width: 960px;
    margin-left: 345px;
}

.copyright-2{
  width: 960px;
  margin-left: 375px;
}

.clearfix {
  clear: both;
}
